@import 'functions&variables.scss';

.filter-container {
    max-width:$maxWidth;
    @include CENTER_H;
    flex-direction: column;
    width: 100%;
    padding:10px;
    gap:10px;
    .cards-selecter-container {
        .selected-card:hover {
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);;
        }
        .selected-card {
            @include NO_SELECT;
            cursor:pointer;
            flex-direction: column;
            padding: 10px;
            border: 1px solid lightgray;
            border-radius: 5px;
            display: flex;
        }
        .cards-list {
            justify-content: center;
            flex-direction:row;
            flex-wrap:wrap;
            max-width: 580px;
            max-height:550px;
            overflow-y:auto;
            border-radius:5px;
            padding:10px;
            position: absolute;
            margin-top:10px;
            z-index: 1;
            gap:10px;
            background: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
            .card:hover {
                box-shadow:0 0 20px rgba(0, 0, 0, 0.5);
            }
            .card-shadow {
                position:fixed;
                height:100%;
                width:100%;
                top:0;
                display: flex;
                left:0;
                z-index: -1;
            }
            .card {
                width:100%;
                display: flex;
                padding: 10px;
                cursor: pointer;
                @include CENTER_H;
                background: #f9f9f9;
                flex-direction:column;
                @include NO_SELECT;
            }
            .active {
                background:#20b2aa6e;
                color:white;
            }
        }
    }
    input:focus {
        outline:1px solid $specialColor3;
    }
    label{
        display:flex;
        justify-content: center;
        span {
            padding:0 10px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background:$specialColor1;
            border:1px solid $specialColor1;
            min-width:56px;
            color:$fontColor2;
            font-size: 14px;
            display: flex;
            align-items:center;
        }
    }
    input {
        width:100%;
        padding:10px;
        border:1px solid lightgray;
        border-top-right-radius:5px;
        border-bottom-right-radius:5px;
    }
    .buttons-container {
        display: flex;
        justify-content: center;
        gap:10px;
        button:hover {
            background:$specialColor2;
            box-shadow: 0 0 10px (0,0,0, 0.5);
        }
        button {
            padding:10px;
            border:none;
            border-radius:5px;
            cursor:pointer;
            background: $specialColor1;
            flex:0 1 35%;
            color:$fontColor2;
            display:flex;
            justify-content: center;
            align-items: center;
            gap:5px;
            svg {
                width:14px;
                height:14px;
            }
        }
    }
}
@media  screen and (max-width:500px){
   .filter-container .buttons-container button {
     flex:1 1 50%;
   }
 
 }