$maxWidth: 900px;
$specialColor1:lightseagreen;
$specialColor2:#09938b;
$specialColor3:#09938b;
$fontColor1:black;
$fontColor2:white;
@mixin CENTER_H {
    display: flex;
    justify-content: center;
}

@mixin CENTER_BOTH {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin NO_SELECT {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
