header[class=navbar-header] {
    position: fixed;
    width: 100%;
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;

    nav {
        width: 100%;
        height: 100%;
        box-shadow: 0 4px 22px -4px white;
        justify-content: space-between;
        display: flex;
        background-color: var(--header-bg);
        backdrop-filter: blur(6px);
        padding: 0 10px;

        .navbar-group {
            display: flex;
            color: white;
            align-items: center;
            gap: 5px;

            a,
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px 10px;
                border-radius: 4px;

                &:hover {
                    box-shadow: 0 0 3px var(--base-white, #fff);
                }

                &#light-mode-btn,
                &#dark-mode-btn {
                    width: 60px;
                    justify-content: flex-start;
                    border: 1px solid var(--border-color, #bababa);
                    border-radius: 15px;
                    height: 23px;
                }

                &#dark-mode-btn {
                    justify-content: flex-end;
                }
            }
        }

    }
}