@import 'functions&variables.scss';

* {
  box-sizing:border-box;
  padding:0;
  margin:0;
  outline:none;
  scroll-behavior:smooth;
}
body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}

svg {
  width:14px;
}
@keyframes LOADER {
  from {
    transform:rotate(0deg);
  }
  to {transform:rotate(360deg);}
}
.loader {
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:flex;
  justify-content: center;
  align-items:center;
  z-index:100;
  background: rgba(0, 0,0, 0.3);
  span, div {
    animation: LOADER 1s infinite linear;
    height:100px;
    width:100px;
    border-radius:50%;
    border:10px solid white;
    border-top:10px solid blue;
  }
}

.receipt, .transaction, .card {
  @include CENTER_H;
  flex-direction:column;
  div {
      @include CENTER_H;
      .text, .text-value {
        @include CENTER_BOTH;
        color:$fontColor2;
        padding:10px;
        flex:1 1 20%;
        border:1px solid #3be0c1;
        background:lightseagreen;
      }
      .text-value {
        color:$fontColor1;
        flex:1 1 80%;
        border:1px solid lightseagreen;
        background:inherit;
      }
  }
}
@media  screen and (max-width:500px){
   .receipt  div, .card div, .transaction div {
              flex-direction:column;
              font-size:12px;
              .text, .text-value {
                  padding:0;
                  border:1px solid lightseagreen;
              }
      }

}
.scroller-container:hover {
  opacity: 1;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

@keyframes Scroller {
  from {
      width:0;
      height:0;
  }
  to{
      height:35px;
      width:35px;
  }
}
.scroller-container {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: 1px solid silver;
  border-radius: 50%;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  animation: Scroller 1s linear 1;
  cursor: pointer;
  
}
.darkMode-container {
  background-color: black;
  width: 30px;
  height: 30px;
  left: -20px;
  display: block;
  position: fixed;
  bottom: 109px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  justify-content: center;
  display: flex;
  align-content: center;
  align-items: center;
  transition:left 0.3s ease-out;
  cursor:pointer;
  opacity: 0.5;
  .light {
      background-color: white;
    }
  .dark {
      background-color: #595959;
  }
  span {
      height: 20px;
      width: 20px;
      display: block;
      border-radius: 50%;
  }
}
.darkMode-container:hover {
  left:0px;
  opacity:1;

}
.light {
  background-color:white;
  color:black;
 
}
.dark {
  background-color:  #6a6a6a;
  color:white;
  .scroller-container {
    background-color: white;
  }
  .scroller-container:hover  {
    box-shadow: 0 0 20px rgba(253, 253, 253, 1);
  }
  .cards-container, .receipts-container, .transactions-container, .cards-selecter-container, .filter-container label, .filter-container .cards-selecter-container  {

    .card, .receipt, .transaction, .selected-card, input, .cards-list {
      background: rgb(206, 206, 206);
      color:black;
    }
    .card:hover {
      box-shadow: 0 0 10px white!important;
    }
  }
}

.container {
  display:flex;
  justify-content:center;
}

.hidden {
  display:none;
}
.show-f {
  display:flex;
}
.show-b {
  display:block;
}