.card {
    padding: 10px;
    border-radius: 8px;
    line-height: 20px;
    width: 100%;
    border: 1px solid var(--main-color);
    min-height: 100px;
    
    &:hover {
        box-shadow: 0 0 30px 2px var(--main-color);
    }
  
}
.title {
    font-size: 18px;
    font-weight: 900;
    color: var(--base-black);
}
  
.detail {
    cursor: pointer;
    color: var(--base-white);
    background: var(--main-color3);
}